/* Divergentes Heroes Paz local fonts */

@font-face {
  font-family: "Lacquer";
  src: url("../../fonts/lacquer/Lacquer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Mono";
  src: url("../../fonts/red-hat-mono/RedHatMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Mono";
  src: url("../../fonts/red-hat-mono/RedHatMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Mono";
  src: url("../../fonts/red-hat-mono/RedHatMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
